@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* first part */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.first-part {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 10vw 80px;
}

.first-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding-left: 0px;
}

.first-down {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 100px;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 550px;
}

.hero {
  margin-bottom: 10px;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.main-p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.first-button {
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
  width: 100px;
  color: #ffff;
  background-color: #3882f6;
}

.main-p,
a {
  font-size: 18px;
  color: #e5e7eb;
}
/* first part end */

/* second part begin */
h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 0px 0px 80px;
}

.info-c {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.infos {
  border: 3px solid #3882f6;
  border-radius: 6px;
  width: 125px;
  height: 125px;
}

.info-text {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 57px;
}

.text {
  width: 125px;
}
/* second part end */

/* third part begin */
.third-part {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quote {
  text-align: center;
  padding: 80px 240px 0px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300;
}

.author {
  font-size: 20px;
  padding-right: 240px;
  padding-bottom: 45px;
  text-align: end;
  font-weight: bold;
}
/* third part end */

/* fourth part begin */
.fourth-part {
  display: flex;
  justify-content: center;
  padding: 60px 0px 60px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 975px;
  height: 100px;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 15px 50px;
  color: #fff;
}

.box-button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #3882f6;
  color: #fff;
}
/* fourth part end */

/* fifth part begin */

.fifth-part {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  color: white;
}

/* fifth part end */
